        <div class="container">
            <footer class="th-footer">
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        <div class="th-footer__heading">Helpful Links</div>
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="th-linklist">
                                    <li class="th-linklist__item"><a href="#">About us</a></li>
                                    <li class="th-linklist__item"><a href="#">Contact</a></li>
                                    <li class="th-linklist__item"><a href="#">Terms &amp; Conditions</a></li>
                                    <li class="th-linklist__item"><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="th-linklist">
                                    <li class="th-linklist__item"><a href="#">Shipping Information</a></li>
                                    <li class="th-linklist__item"><a href="#">Returns &amp; Exchanges</a></li>
                                    <li class="th-linklist__item"><a href="#">FAQ</a></li>
                                    <li class="th-linklist__item"><a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="th-footer__heading">Social</div>
                        <div class="th-icongroup">
                            <a class="th-icon th-icon--facebook th-icongroup__icon" href="#" target="_blank">
                            </a>
                            <a class="th-icon th-icon--twitter th-icongroup__icon" href="#" target="_blank">
                            </a>
                            <a class="th-icon th-icon--pinterest th-icongroup__icon" href="#" target="_blank">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="th-footer__heading">Sign up for our newsletter!</div>
                        <div class="th-footer__elist">
                            <form class="th-elist" role="form" name="MailingList">
                                <div class="input-group">
                                    <input type="text" class="form-control th-elist__input" placeholder="email@example.com">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary th-elist__submit" type="button">Subscribe</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

<footer class="th-footer" data-ng-hide="hideWrapper" data-ng-controller="FooterCtrl">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-5">
				<div class="th-footer__heading">Helpful Links</div>
				<div class="row">
					<div class="col-xs-6">
						<div data-ng-bind-html="themeSettings.general.footer.content.column1 | legacyLinkify | html"></div>
					</div>
					<div class="col-xs-6">
						<div data-ng-bind-html="themeSettings.general.footer.content.column2 | legacyLinkify | html"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="th-footer__heading">Social</div>
				<div class="th-icongroup" data-ng-include=" 'views/partials/social-sharing.html' "></div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="th-footer__heading">Sign up for our newsletter!</div>
				<form class="th_elist" role="form" name="MailingList" method="post" action="/MailingList_subscribe.asp">
					<div class="form-group">
						<div class="input-group">
							<label class="sr-only" for="emailaddress">Email address</label>
							<input type="email" name="emailaddress" id="emailaddress" class="form-control th-elist__input" value="" placeholder="email@example.com">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary th-elist__submit">Subscribe</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="th-footer__copyright">
			<div data-ng-bind-html="themeSettings.general.footer.content.bottomRow | legacyLinkify | html"></div>
		</div>
	</div>
</footer>
