
        <div class="container">
            <header class="th-header">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="row">
                        <div class="col-xs-3 col-sm-1 hidden-md hidden-lg">
                            <button type="button" class="navbar-toggle pull-left" ng-init="navCollapsed = true" data-toggle="collapse" data-target="#th-main-nav">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="col-xs-6 col-sm-7 col-md-8">
                            <a class="th-header__logo" href="#">
                            <!-- <img ng-src="{{config.data.general.logoUrl}}" class="img-responsive" /> -->
                            	Vanilla
                            </a>
                        </div>

                 				<!-- Mobile Logo -->
												<!-- 
												<div class="col-xs-6 hidden-md hidden-lg">
														<a class="th-navbar__logo" ui-sref="i18n.home">
															<img ng-src="{{config.general.logoUrl}}" class="img-responsive" />
														</a>
													</div>
													<div class="col-md-8 hidden-xs hidden-sm">
														<div class="collapse navbar-collapse " id="th-main-menu" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
												 -->

                        <div class="col-xs-3 col-sm-4">
                            <div class="th-header__utility pull-right">
                                <div class="hidden-xs th-sitelinks">
                                    <a href="#" class="th-sitelinks__link">Log in</a> /
                                    <a href="#" class="th-sitelinks__link">Register</a>
                                </div>

                                <div class="th-header__cart">
<!--                                 	Need to fix hover state on shopping cart 75% opacity -->                                    <div class="th-cart-summary">
																			<span class="th-my-cart">
																				<a legacy-link="{{viewCart()}}" class="th-my-cart__link">
																					<div class="th-icon th-icon--cart th-cart-summary__icon">
                                          	<div class="th-icon__foreground"></div>
                                          </div>      
																					<span class="th-my-cart__number">{{cart.items.length + 0}}</span>
																				</a>
																			</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="collapse navbar-collapse" id="th-main-nav">
                                <ul class="nav navbar-nav">
                                    <li class="active" data-ui-sref-active="active">
                                      <a href="index.html">Home</a>
                                    </li>
                                    <li data-ui-sref-active="active">
                                      <a href="category.html">Category Page</a>
                                    </li>
                                    <li data-ui-sref-active="active">
                                      <a href="product.html">Product Page</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>

																<!--
																<ul class="nav navbar-nav">
																	<li class="dropdown nav-top-level-menu-items" data-ng-repeat="category in smartNavCategories" style="visibility: hidden;">
																		<a class="navbar-link" href="c/{{ category.slug }}">{{category.name}}</a>
																		<span>
																			<a href="#" data-ng-if="category.subCategories.length" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">
																				<span class="caret"></span>
																			</a>
																			<ul class="dropdown-menu" data-ng-if="category.subCategories.length">
																				<li data-ng-repeat="subCategory in category.subCategories">
																					<a href="c/{{ subCategory.slug }}">{{subCategory.name}}</a>
																				</li>
																			</ul>
																		</span>
																	</li>
																	<li class="dropdown" ng-show="displaySmartNavMoreMenuItem">
																		<a href="#" class="navbar-link" data-translate=" index.smartNavMoreLinkText">More</a>
																		<span>
																			<a href="#" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">
																				<span class="caret"></span>
																			</a>
																			<ul class="dropdown-menu">
																				<li data-ng-repeat="category in smartNavMoreCategories">
																					<a class="navbar-link" href="c/{{ category.id }}">{{category.name}}</a>
																				</li>
																			</ul>
																			-->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="th-header__search">
                                <form class="th-search" role="search">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default th-search__submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control th-search__input" placeholder='Search...'>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
















<!-- 

		HTML FROM METHOD

<nav class="navbar navbar-default navbar-fixed-top th-navbar" role="navigation">


	<div class="hidden-xs hidden-sm th-header">
		<div class="container">
			<div class="pull-left th-header__shipping-text">
				<span data-ng-bind-html="themeSettings.general.header.content.topPromo | legacyLinkify | html"></span>
			</div>
			<div class="pull-right th-header__account-menu">
					<a legacy-link="/login.asp" data-translate="header.signIn">Sign In</a>
			</div>
		</div>
	</div>
	<div class="container th-menu-container">
		<div class="row"> -->
			<!-- Desktop Logo -->
			<!-- <div class="col-md-2 hidden-xs hidden-sm"> -->
				<!--TODO: cleanup html-->
				<!--<a class="navbar-brand" ui-sref="i18n.home">-->
				<!-- <a class="navbar-brand" href="/">
					<img ng-src="{{config.data.general.logoUrl}}" class="img-responsive" />
				</a>
			</div>
 -->
			<!-- Sandwich Button -->
<!-- 			<div class="col-xs-3 hidden-md hidden-lg">
				<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" snap-toggle="left">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div> -->

			<!-- Mobile Logo -->

<!-- 			<div class="col-xs-6 hidden-md hidden-lg">
				<a class="th-navbar__logo" ui-sref="i18n.home">
					<img ng-src="{{config.general.logoUrl}}" class="img-responsive" />
				</a>
			</div>
			<div class="col-md-8 hidden-xs hidden-sm">
				<div class="collapse navbar-collapse " id="th-main-menu" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
 -->



					<!-- Categories -->
<!-- 					<ul class="nav navbar-nav">
						<li class="dropdown nav-top-level-menu-items" data-ng-repeat="category in smartNavCategories" style="visibility: hidden;">
							<a class="navbar-link" href="c/{{ category.slug }}">{{category.name}}</a>
							<span>
								<a href="#" data-ng-if="category.subCategories.length" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" data-ng-if="category.subCategories.length">
									<li data-ng-repeat="subCategory in category.subCategories">
										<a href="c/{{ subCategory.slug }}">{{subCategory.name}}</a>
									</li>
								</ul>
							</span>
						</li>
						<li class="dropdown" data-ng-show="displaySmartNavMoreMenuItem">
							<a href="#" class="navbar-link" data-translate="header.smartNavMoreLinkText">
								More
								<span class="caret th-dropdown-toggle"></span>
							</a>
							<ul show-on-dropdown-hover class="dropdown-menu">
								<li data-ng-repeat="category in smartNavMoreCategories">
									<a class="navbar-link" data-ng-href="{{ category.url }}">{{category.name}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-xs-3 col-md-2">
				<div class="pull-right th-cart-summary">
					<div search-form></div>
					<div class="th-my-cart">
						<a legacy-link="{{ viewCart() }}" class="th-my-cart__link">
							<span class="th-my-cart__text" data-translate="header.myCart">My Bag</span>
							<span class="th-my-cart__number">{{ getCartItemsCount() }}</span>
						</a>
					</div>

					<div class="th-alert-container">
						<div data-ng-repeat="alert in alerts">
							<!--
								current AngularJS have problem with angular-ui's alert directive
								{{ alert.type }} will be interpolated correctly but ng-class will always pick "alert-warning"
							-->
							<!--<div class="th-alert-container" ng-show="alert !== null">-->
							<!--<alert type="{{ alert.type }}" close="closeAlert()">{{ alert.msg }}</alert>-->
							<!--</div>-->
							<div ng-if="alert !== null && alert.type === 'success'">
								<alert type="success" close="closeAlert(alert.id)">{{ alert.msg }}</alert>
							</div>
							<div ng-if="alert !== null && alert.type === 'danger'">
								<alert type="danger" close="closeAlert(alert.id)">{{ alert.msg }}</alert>
							</div>
							<div ng-if="alert !== null && alert.type === 'warning'">
								<alert type="warning" close="closeAlert(alert.id)">{{ alert.msg }}</alert>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div> -->
	<!-- /.container-fluid -->
<!-- </nav> -->
