<div class="th-product">
	<span class="hidden-xs th-product__sale" data-ng-show="product.isOnSale"></span>
	<span class="hidden-xs th-product__new" data-ng-show="product.isNew"></span>
	<div class="th-product__image">
		<a data-ui-sref="i18n.product({ productTitle: product.slug, productCode: product.code })" class="th-product-card__image-link">
			<img data-ng-src="{{product.images.default[0].medium}}" class="img-responsive th-product-card__image" alt="{{product.name}}">
		</a>







		<!--<div class="th-quick-options visible-md visible-lg">-->
		<!--<a data-ui-sref="i18n.product({ productTitle: featuredProduct.slug, productCode: featuredProduct.code })" class="th-quick-view" data-translate="product.quickView">Quick View</a>-->
		<!--<a href="#" class="th-add-to-cart"><span></span></a>-->
		<!--</div>-->
	</div>

		<a data-ui-sref="i18n.product({ productTitle: product.slug, productCode: product.code })" class="th-product-title th-product-title--medium">{{product.name}}</a>
    <div class="th-product-price">
    	<div data-ng-show="product.price.regularPrice > 0" class="th-product-price__price th-product-price__price--medium">{{product.price.regularPrice | currency}}</div>
    </div>



	<div class="th-colors-sm visible-xs">
		<a href="#"><img src="/images/theme/sw-1-sm.png" class="img-responsive" alt=""></a>
		<a href="#"><img src="/images/theme/sw-2-sm.png" class="img-responsive" alt=""></a>
		<a href="#"><img src="/images/theme/sw-3-sm.png" class="img-responsive" alt=""></a>
		<a href="#"><img src="/images/theme/sw-4-sm.png" class="img-responsive" alt=""></a>
		<a href="#"><img src="/images/theme/sw-5-sm.png" class="img-responsive" alt=""></a>
	</div>
</div>
