

// FONTS FROM VANILLA

// @include app-font(lato-light);
// @include app-font(lato-light-italic);

// @include app-font(lato-reg);
// @include app-font(lato-reg-italic);

// @include app-font(lato-bold);
// @include app-font(lato-bold-italic);

// @include app-font(robotoslab-light);
// @include app-font(robotoslab-reg);






//@import "bootstrap/type";
