.th-header {
    padding-top: 10px;
    margin-bottom: 20px;

    @include respond-to(md-and-up) {
        border-bottom: 1px solid $gray-lighter;
    }

    &__cart {
        @extend %inline-block;
        @include respond-to(sm-and-up) {
            padding-left: 25px;
        }
    }

    &__logo {
        padding-top: 12px;
        padding-bottom: 13px;

        &--small {
						max-height: 47px;
            margin: 0 auto;
						padding-top: 0;
						padding-bottom: 0;
        }
    }

    &__sign-in {
        @extend %inline-block;
        font-size: 1.6rem;
        text-align: right;
    }

    &__search {
        padding: 10px 0;

        @include respond-to(md-and-up) {
            padding: 20px 0;
        }
    }

    &__utility {
        padding-top: 12px;

        @include respond-to(md-and-up) {
            padding-top: 30px;
        }
    }
}
