.th-icon-group {
	&__icon {
		@extend %opacity-100;
		margin-right: 15px;

		&:hover {
			@extend %opacity-75;
			@extend %animate-all-default;
		}

		&--small {
			margin-right: 10px;
		}
	}

	.ng-social-facebook {
		margin-left: 0;

		.ng-social-text {
			@extend %font-smoothing;
			padding-left: 4px;
		}
	}

}

