// This class is used in: app/settings/themeSettings.json

.th-linklist {
	margin     : 0 0 15px;
	padding    : 0;
	list-style : none;

	&__item {
		color         : $link-color;
		margin-bottom : 10px;
	}
}
