.th-product-options {

	&__label {
		display: block;
		font-size: 1.8rem;
		margin-top: 20px;
	}

	// .btn-primary
	&__add-to-cart {
	  @extend %font-smoothing;
	  letter-spacing: 0.05em;
	  font-size: 16px;
		margin-top: 5px;
		padding: 15px 30px;
		text-transform: uppercase;

	  &:hover {
	  	background-color: lighten($btn-primary-bg, 75%);
	  	color: invert($btn-primary-color);
	  }

	}

}
