.th-product-tile {
	margin : 20px 0;

	&__image {
		@extend %inline-block;
	}

	&__image-link {
		display: block;
		padding: 20px 0;
		text-align: center;

		&:hover {
			@extend %opacity-80;
		}
	}

	&__heading {

		h1 { font-weight: 300; }

		ul { margin-left: 0; }

		li {
			padding: 0;

			&:nth-of-type(n+2) {
				a { border-left: 1px solid black; }
			}

			a {
				margin-top: 5px;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	&__block {
		@include respond-to(xs) {
			margin: 0 auto 25px;
			max-width: 300px;
			text-align: center;
		}
		@include respond-to(sm) {
			.col-sm-6:nth-of-type(2n+3) {
				clear : both
			}
		}
		@include respond-to(md-and-up) {
			.col-md-4:nth-of-type(3n+4) {
				clear : both
			}
		}
	}

}
