.th-product-price {
	&__price {		
		@extend %inline-block;
		margin-bottom: 0.2em;

		&--medium {
			font-size: 1.8rem;
		}

		&--large {
			font-size: 3.0rem;
			font-weight: 300;
			margin-bottom: 0;
		}
	}
}