.th-cart-summary {
	&__link {
		&:hover {
			@extend %opacity-75;
			text-decoration: none;
		}
	}

	&__number {
		@extend %inline-block;
	}

	@include respond-to(md-and-up) {
		font-size: 1.6rem;
	}
}


// Method Styles

/* .th-my-cart {
	@include inline-block;
	padding     : 6px 0;
	margin-left : 10px;
	@include respond-to(xs){
		margin: 0;
	}
	&__number {
		color : map-get($colors, link-active);
		&:before {
			content : "(";
		}
		&:after {
			content : ")";
		}
	}
	&__link {
		&:hover {
			text-decoration: none;
		}
	}
	&:hover {
		@extend %opacity-75;
	}
}

@include respond-to(sm-and-up) {
	.th-cart-summary {
		top : 23px;
	}
}

@include respond-to(md-and-up) {
	.th-cart-summary {
		position : relative;
		right    : 13px;
		top      : 29px;
	}
} */





// .th-cart-summary {
//     position    : relative;
//     white-space : nowrap;
//     top         : 8px;
//     right       : 0;
// }

// .th-my-cart {
//     @include inline-block;
//     padding : 6px 0;

//     &__number {
//         color : map-get($colors, link-active);

//         &:before {
//             content : "(";
//         }

//         &:after {
//             content : ")";
//         }
//     }
// }

// @include respond-to(sm-and-up) {
//     .th-cart-summary {
//         top : 23px;
//     }
// }

// @include respond-to(md-and-up) {
//     .th-cart-summary {
//         position : relative;
//         right    : 13px;
//         top      : 29px;
//     }
// }

