.th-elist {
    max-width: 360px;

    &__input {
        border-color: $gray-lighter;
        padding: 8px 15px;
        height: 42px;
    }

    &__submit {
        @extend %font-smoothing;
        font-weight: normal;
        padding: 10px 15px;
        z-index: 2;
    }

    .th-footer & {
        @include respond-to(xs) {
            margin: 0 auto;
        }
    }
}