.th-header {
    padding-top: 10px;
    margin-bottom: 20px;
    
    @include respond-to(md-and-up) {
        border-bottom: 1px solid $gray-lighter;
    }


    &__cart {
        @extend %inline-block;
        @include respond-to(sm-and-up) {
            padding-left: 25px;
        }
    }

    &__logo {
        @include font(
            $size: 3.6rem,
            $family: robotoslab-light
        );
        display: block;
        text-align: center;

        @include respond-to(sm-and-up) {
            text-align: left;
        }

        @include respond-to(md-and-up) {
            @include inline-block;
            font-size: 6rem;
        }
    }

    &__search {
        padding: 10px 0;

        @include respond-to(md-and-up) {
            padding: 20px 0;
        }
    }

    &__utility {
        padding-top: 12px;

        @include respond-to(md-and-up) {
            padding-top: 30px;
        }
    }
}












/* .th-header {
    display : none;
    border  : 1px solid map-get($colors, border);

    a:hover {
        @extend %animate-all-default;
    }

    &__shipping-text {
        float : left;
    }

    &__account-menu {
        float : right;
    }
}

@include respond-to(md-and-up) {
    .th-header {
        display : block
    }
} */
