.th-product-view {

	@include respond-to(md-and-up) {
    padding-top: 20px;
  }

  &__thumbnail-div {
  	display: inline-block;
  	float: none;

  	@include respond-to(xs) {
  		padding-left: 5px;
  		padding-right: 5px;

  		img {
  			padding: 0;
  		}
  	}
  }

}