.th-product-title {
    @extend %inline-block;
    margin-bottom: 0.2em;
    
    &--medium {
    	font-size: 1.8rem;
    }

    &--large {
      font-size: 4.0rem;
  		font-weight: 300;        
    }
}