.th-product-view {



	@include respond-to(md-and-up) {
    padding-top: 20px;
  }

  &__main-img,
  &__thumbnails {
    @extend %inline-block;
  }

  &__thumbnails {

  	@include respond-to(xs) {
  		padding-left: 5px;
  		padding-right: 5px;

  		img {
  			padding: 0;
  		}
  	}
  }

}
