
%inline-block {
	@include inline-block;
}

%opacity-50 {
	@include opacity(0.50);
}

%opacity-75 {
	@include opacity(0.75);
}

%opacity-80 {
	@include opacity(0.8);
}

%opacity-100 {
	@include opacity(1);
}

%remove-shadow {
  @include box-shadow(none);
}

%animate-all-default {
	@include single-transition(all, 200ms, ease);
}

%animate-color {
  @include transition(color, 0.2s, ease-in-out);
}

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%position-absolute-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

@mixin absolute-center($width, $height) {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: $height/-2 0 0 $width/-2;
}


// Mixin for targeting Bootstrap's Media Queries

@mixin respond-to($viewport-size) {
	@if $viewport-size == xs {
		@media only screen and (max-width : $screen-xs-max) {
			@content;
		}
	}
	@else if ($viewport-size == sm) {
		@media only screen and (min-width : $screen-sm-min) and (max-width : $screen-sm-max) {
			@content;
		}
	}
	@else if ($viewport-size == sm-and-up) {
		@media only screen and (min-width : $screen-sm-min) {
			@content;
		}
	}
	@else if ($viewport-size == sm-and-down) {
		@media only screen and (max-width : $screen-sm-max) {
			@content;
		}
	}
	@else if ($viewport-size == md) {
		@media only screen and (min-width : $screen-md-min) and (max-width : $screen-md-max) {
			@content;
		}
	}
	@else if ($viewport-size == md-and-up) {
		@media only screen and (min-width : $screen-md-min) {
			@content;
		}
	}
	@else if ($viewport-size == lg) {
		@media only screen and (min-width : $screen-lg-min) {
			@content;
		}
	}
}

@mixin background($color: null, $image: null, $repeat: null, $attachment: null, $position: null, $size: null) {
	background: $color $image $repeat $attachment $position;

	@if $size {
		@include background-size($size);
	}
}