%backface-visibility {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

%inline-block {
	@include inline-block;
}

%opacity-50 {
	@include opacity(0.50);
}

%opacity-75 {
	@include opacity(0.75);
}

%opacity-80 {
	@include opacity(0.8);
}

%opacity-100 {
	@include opacity(1);
}

%animate-all-default {
	@include single-transition(all, 200ms, ease);
}

%animate-color {
  @include transition(color, 0.2s, ease-in-out);
}

%position-absolute-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%placeholder-text {
  @include input-placeholder {
    color: $gray-light;
  }
}

%placeholder-text-focus {
  @include input-placeholder {
    color: $gray;
  }
}

%remove-shadow {
  @include box-shadow(none);
}

%remove-padding {
  padding: 0;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}