<div class="container" itemscope itemtype="http://schema.org/Product">
	<div class="clearfix">
		<div class="row">
			<div class="col-xs-12 col-md-6">

				<!-- PRODUCT IMAGE AND ALT VIEWS -->
				<div class="th-product-view">
					<div class="vn-slider vn-slider--product">
						<carousel data-interval="carousel.interval">
							<slide data-ng-repeat="image in currentImageCollection | filter: '!youtube.com'" data-active="image.active">
								<div class="vn-slider__slide">
									<img itemprop="image" data-ng-src="{{image.large}}" class="img-responsive th-product-view__image" />
								</div>
							</slide>
						</carousel>
					</div>

<!-- 					<div class="hidden-xs">
						<div class="clearfix th-product-view vn-zoom">
							<img easy-zoom
									 ng-src="product.image.medium"
									 ez-zoom-src="product.image.large"
									 ez-adjacent="isInDesktopMode"
									 ez-overlay="!isInDesktopMode"
									 alt="{{product.name}}"> -->

							<div class="th-product-view__alternates">
								<span data-ng-click="product.image=image" ng-repeat="image in product.images[product.optionSelection.images] | filter: '!youtube.com'" class="col-xs-3 th-product-view__thumbnail">
									<img data-ng-src="{{image.medium}}" class="img-responsive th-alt-views__image" alt="">
								</span>
							</div>
<!-- 						</div>
					</div> -->

				</div><!-- .th-product-view -->
			</div>

	    <div class="col-xs-12 col-md-6">

		    <div class="th-product-details">
		    	<div class="th-product-details__title">
		    		<a href="#"><span class="th-product-title th-product-title--large" itemprop="name" data-ng-bind="product.name"></span></a>
		    	</div>

		      <div class="th-product-details__price">
		      	<span class="th-product-price__price" itemscope itemtype="http://schema.org/Offer" data-ng-show="product.price.regularPrice > 0"><span class="th-product-price__price--large" data-ng-class="{strike: product.price.salePrice > 0}"><span itemprop="price" data-ng-bind="product.price.regularPrice | currency"></span></span></span>
		      </div>
		    </div>

		    <div class="th-product-options">

		      <div class="th-product-options__btn-dropdown">
		          <label class="th-label" id="size">Size</label>
		          <div class="btn-group clearfix th-btn-dropdown">
		              <button type="button" id="size" class="btn btn-default dropdown-toggle th-btn-dropdown__button" data-toggle="dropdown">
		                  gallon <span class="caret th-btn-dropdown__caret"></span>
		              </button>
		              <ul class="dropdown-menu" role="menu">
		                  <li><a href="#">gallon</a></li>
		                  <li><a href="#">quart</a></li>
		                  <li><a href="#">pint</a></li>
		                  <li><a href="#">cup</a></li>
		              </ul>
		          </div>
		      </div>

					<div class="th-product-options_qty">
		        <label for="qty" class="th-label">Qty</label>
			        <div class="th-qty">
							<div data-vn-block="th-qty-counter" class="input-group">
								<span class="input-group-btn">
									<button data-vn-element="btn" class="btn btn-default th-qty__button"
											data-ng-click="decrementQty()"
											data-ng-disabled="cartItem.qty == 0">
										-
									</button>
								</span>
								<input data-vn-element="input" class="form-control th-qty__input"
											 data-ng-model="cartItem.qty"
											 placeholder="1">
								<span class="input-group-btn">
									<button data-vn-element="btn" class="btn btn-default th-qty__button"
													data-ng-click="incrementQty()"
													data-ng-disabled="product.optionSelection.available < 1">
										+
									</button>
								</span>
							</div>
						</div>
					</div>

					<div class="th-add-to-cart">
						<button type="button" class="btn btn-default th-product-options__add-cart"
										data-translate="product.addToCart"
										data-ng-click="addToCart()"
										data-ng-disabled="cartItem.qty === 0"
										data-analytics-category="element click"
										data-analytics-label="Add to Cart"
										data-analytics-location="body-product"
										data-analytics-description="Add to Cart Button">
							Add to Cart
						</button>
					</div>

				</div>

				<div class="th-product-description">
					<div data-ng-show="product.descriptions.detail">
						<div class="th-product-description__title" data-translate="product.description">Description</div>
							<p>
								<span itemprop="description" data-ng-bind-html="product.descriptions.detail | legacyLinkify | html"></span>
							</p>
					</div>
					<div data-ng-show="product.descriptions.features">
						<div class="th-product-description__title" data-translate="product.features">Features</div>
						<span data-ng-bind-html="product.descriptions.features | legacyLinkify | html"></span>
					</div>

					<!-- Social Icons -->
					<div class="th-product-description__title">Share</div>
					<div class="th-icongroup" data-ng-include=" 'views/partials/social-sharing.html' "></div>
				</div>

			</div>

		</div>
	</div>
</div>



