<div class="container" itemscope itemtype="http://schema.org/Product">
	<div class="clearfix">
		<div class="row">

			<!-- PRODUCT IMAGE AND ALT VIEWS -->
			<div class="col-xs-12 col-md-6 text-center th-product-view">
					<div class="clearfix col-xs-12">
						<img data-ng-src="{{product.image.medium}}" class="img-responsive th-product-view__main-img" alt="{{product.name}}">		 
					</div>
					<div data-ng-click="product.image=image" ng-repeat="image in product.images[product.optionSelection.images] | filter: '!youtube.com'" class="col-xs-4 th-product-view__thumbnails">
						<img data-ng-src="{{image.medium}}" class="img-responsive img-thumbnail" alt="{{product.name}}">
					</div>
			</div><!-- /col-xs-12 col-md-6 -->

	    <div class="col-xs-12 col-md-6 th-product-view">
	    	<a href="#">
	    		<div class="th-product-title--large" itemprop="name" data-ng-bind="product.name"></div>
	    	</a>
	      <div class="th-product-price__price--large" itemscope itemtype="http://schema.org/Offer" data-ng-show="product.price.regularPrice > 0">
	      	<span itemprop="price" data-ng-bind="product.price.regularPrice | currency"></span>
	      </div>

		    <div class="th-product-options">

				<!-- Dropdown from Static Vanilla 	    
					<label class="th-label" id="size">Size</label>
	        <div class="btn-group clearfix">
	          <button type="button" id="size" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	              gallon <span class="caret pull-right"></span>
	          </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">gallon</a></li>
                <li><a href="#">quart</a></li>
                <li><a href="#">pint</a></li>
                <li><a href="#">cup</a></li>
            </ul>
		      </div> -->	


					<div class="dropdown"
						 data-vn-element="select"
						 data-vn-modifiers="{{ option.class }}"
						 data-ng-attr-size="{{ inputType.size }}">

						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuOption{{ option.id }}" data-toggle="dropdown">
							{{ currentSelectionText }}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuOption{{ option.id }}">
							<li role="presentation" data-ng-repeat="itemKey in option.items">
								<a role="menuitem" tabindex="-1" href
								   data-ng-click="onOptionChanged(option, product.optionItems[itemKey])">

									{{ product.optionItems[itemKey].text }}
								</a>
							</li>
						</ul>
					</div>


		      <!-- Figure out how to modify this for Vanilla -->
						<div data-vn-product-option
								 data-ng-repeat="option in product.options"
								 data-option="option"
								 data-product="product"
								 data-save-to="cartItem.options">
						</div>

		      <label for="qty" class="th-product-options__label">Qty</label>
		      <div class="form-group">
		      	<div data-vn-block="th-qty-counter" class="input-group">
		      		<span class="input-group-btn">
		      			<button data-vn-element="btn" class="btn btn-default"
		      						  data-ng-click="decrementQty()"
		      							data-ng-disabled="cartItem.qty == 0">
		      			  -	
		      			</button>
		      		</span>
		      		<input data-vn-element="input" class="form-control text-center"
		      					 data-ng-model="cartItem.qty"
		      					 placeholder="1">
		      		<span class="input-group-btn">
		      			<button data-vn-element="btn" class="btn btn-default"
		      						  data-ng-click="incrementQty()"
		      							data-ng-disabled="product.optionSelection.available < 1">
		      				+
		      			</button>
		      		</span>
				    </div>
				  </div>

					<button type="button" class="btn btn-primary th-product-options__add-to-cart"
									data-ng-click="addToCart()"
									data-ng-disabled="cartItem.qty === 0"
									data-analytics-category="element click"
									data-analytics-label="Add to Cart"
									data-analytics-location="body-product"
									data-analytics-description="Add to Cart Button">
						<span data-ng-if="cartItem.qty" data-translate="product.addToCart"></span>
						<span data-ng-if="!cartItem.qty" data-translate="product.outOfStock"></span>
					</button>

				</div> <!-- /product-options -->

				<div class="th-product-description">
					<div data-ng-show="product.descriptions.detail">
						<div class="th-product-description__title" data-translate="product.description">Description</div>
						<p>
							<span itemprop="description" data-ng-bind-html="product.descriptions.detail | legacyLinkify | html"></span>
						</p>
					</div>

					<!-- Social Icons -->
					<div class="th-product-description__title">Share</div>
					<div class="th-icon-group" data-ng-include=" 'views/partials/social-sharing.html' "></div>
				
				</div>
			</div>
		</div>
	</div>
</div>
