<div class="container categories">
	<div class="row">
		<!-- This is a bootstrap responsive column that holds product tiles for the current query -->
		<div class="col-sm-12">
			<div class="content-top">
				<div class="page-header text-center">
					<h1>Search for {{ lastSearchString }}</h1>
				</div>
			</div>

			<!-- Mobile Filtering & Sorting Controls -->
			<div class="row mobile-filters" data-ng-hide="mobileDisplay" ng-class="{ isMobileAndVisible: true == isMobileAndVisible }">
				<a class="col-xs-6" href data-ng-click="toggleSearch()">
					<button class="btn btn-default pull-right vn-facet-search-control">Filter</button>
				</a>
				<div class="col-xs-6 vn-sort-mobile-search-control" vn-sort-search query-products="queryProducts()"></div>
				<!-- place sort by button here -->
			</div>

			<div class="row">
				<div class="-product-tile-animation col-xs-12 col-sm-6 col-md-4" data-ng-repeat="product in products track by $index">
					<div class="th-product">
						<span class="th-product__sale" data-ng-show="product.isOnSale"></span>
						<span class="th-product__new" data-ng-show="product.isNew"></span>

						<div class="th-product__image">
							<a href="p/{{product.slug}}">
								<img data-ng-src="{{product.images.default[0].medium}}" class="img-responsive" alt="">
							</a>
						</div>
						<div class="th-product__name">
							<a href="{{ product.url }}">{{ product.name }}</a>
						</div>
						<div class="th-product__price">
							<span class="th-price--reg" data-ng-show="product.pricing.regularPrice > 0">
								<span class="th-price" data-ng-class="{strike: product.pricing.salePrice > 0}">{{product.pricing.regularPrice | currency}}</span>
								<span class="th-price-text">Reg</span>
							</span>
							<span class="th-price--now" data-ng-show="product.pricing.salePrice > 0">
								<span class="th-price">{{product.pricing.salePrice | currency}}</span>
								<span class="th-price-text">Now</span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div vn-paginator
				 cursor="cursor"
				 current-page="currentPage"
				 query-fn="queryProducts()"
				 ng-if="products.length > 0"></div>

		</div>
	</div>
</div>
