<div class="th-header__search">
	<form class="th-search"
	      role="search"
	      name="frmSearch"
	      data-ng-submit="doSearch()"
	      novalidate>
		<div class="input-group">
			<span class="input-group-btn">
				<button type="button" data-ng-click="doSearch()"
				        class="btn btn-default th-search__submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
			<input type="text"
			       class="form-control th-search__input"
			       data-ng-model='searchTerm'
			       placeholder='Search...'>
		</div>
	</form>
</div>
